.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    background-color: #3B4CCA;
    border-bottom: black solid 2px;
}

.li {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.liLogo {
    margin-right: auto;
    padding: 5px;
}

.liMenu {
    text-align: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: all 0.45s;
}

.liMenu:hover {
    animation: line 1s;
    color: #FFDE00;
}