.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;

    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 45px;
    left: 90%;
    background-color: #3B4CCA;
    border-left: black solid 2px;
    border-right: black solid 2px;
    opacity: 1;
    overflow-x: hidden;
    list-style: none;
}

.li {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: transparent;
    color: #e9ecef;
    padding: 5px 15px;
    transition: all 0.5s;
    margin-left: 10px;
    margin-top: 5px;
    border: solid #e9ecef 1px;
}
.button:hover {
    margin-right: 15px;
    opacity: 1;
    animation: line 1s;
    color: #FFDE00;
}

.select {
    display: inline-block;
    border-radius: 10px;
    background-color: transparent;
    color: #e9ecef;
    padding: 5px 5px;
    transition: all 0.5s;
    margin-left: 10px;
    margin-top: 5px;
    border: solid #e9ecef 1px;
}
.placeHolder {
    display: none;
}
.option {
    font-family: monospace;
    font-size: 16px;
    color: white;
    background-color: #3B4CCA;
}